VITE_CALC_API_URL=http://localhost:8080
SQLSERVER_USE_WINDOWS_AUTH=true
SQLSERVER_URL=jdbc:sqlserver://DESKTOP-VKNSMP5:1433;databaseName=calculator_db;integratedSecurity=true;trustServerCertificate=true;encrypt=true
