VITE_CALC_API_URL=http://localhost:8080
SQLSERVER_USE_WINDOWS_AUTH=false
SQLSERVER_URL=jdbc:sqlserver://DESKTOP-VKNSMP5:1433;databaseName=calculator_db;trustServerCertificate=true;encrypt=true
SQLSERVER_USERNAME=sa
SQLSERVER_PASSWORD=Pass1975#